certifi==2018.10.15
chardet==3.0.4
colorama==0.4.4
colorlog==6.5.0
Django==2.1
django-crispy-forms==1.7.2
idna==2.7
image==1.5.32
Pillow==7.2.0
pytz==2018.5
requests==2.19.1
six==1.15.0
urllib3==1.23
